body {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: white;
    width: 100%;
    margin:auto;
  }

header, main, footer {
    width: 80%;
    margin: auto;
}

header h1{
    font-family: 'Tangerine';
    font-size: 3em;
    color:rgb(51, 255, 0);
}

img {
    margin: auto;
    width: 90%;
    padding: 2%;
}

h1, h2 {
  margin: auto;
  text-align: center;
}

ul {
  list-style-image: url("https://mdn.mozillademos.org/files/11981/starsolid.gif");
  list-style-image: linear-gradient(to left bottom, green, rgb(51, 255, 0));
}

i {
  border: whitesmoke solid 2px;
  border-radius: 10%;
  background-color:rgb(31, 141, 3);
  color: whitesmoke;
  font-size: 200%;
  flex-grow: 1;
  list-style: none;
}
i:hover {
  background-color: whitesmoke;
  color: rgb(47, 216, 5);
  border-color: rgb(31, 141, 3);
}

#icon {
    margin: 1%;
}

#intro {
    width: 100%;
    padding: 0;
}

#div {
    margin: auto;
    padding: 2%;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
}

#link {
  color: whitesmoke;
}

.navbar-nav {
  flex-grow: 1;
}
#menu {
  color: rgb(7, 196, 7);
}
#menu:hover {
  color:rgb(51, 255, 0);
}
#about {
  color: rgb(7, 196, 7);
}
#about:hover {
  color:rgb(51, 255, 0);
}
#plan {
  color: rgb(7, 196, 7);
}
#plan:hover {
  color:rgb(51, 255, 0);
}
#idea {
  color: rgb(7, 196, 7);
}
#idea:hover {
  color:rgb(51, 255, 0);
}
#contact {
  color: rgb(7, 196, 7);
}
#contact:hover {
  color:rgb(51, 255, 0);
}

#copy {
  font-size: smaller;
  text-align: center;
  background-color:  #282c34;
}
  #copy  span {
    font-size: xx-large;
    font-family: 'Tangerine', cursive;
    color:rgb(51, 255, 0);
    padding: 0px;
  }

.navbar-toggler{
    width: fit-content;
}

.flex.container {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
    margin: auto;
    display: flex;
    flex-grow: 1;
}

.user {
    color:  rgb(7, 196, 7);
    margin: auto;
    text-align: center;
    width: 100%;
  }

.course {
  color:  rgb(100, 199, 100);
    margin: auto;
    text-align: center;
    width: 100%;
}

.nav-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.nav-list li {
    flex-grow: 1;
    list-style: none;
}
.nav-list button{
    margin: 2%;
    border: cornsilk solid 2px;
    border-radius: 10%;
    background-color:rgb(31, 141, 3);
    color: cornsilk;
    font-family: 'Amatic SC';
    font-size: 2em;
    text-decoration: none;
}
.nav-list li button:hover {
    transform: scale(2, 1);
    transform-origin: left;
    background-color: cornsilk;
    color: rgb(31, 141, 3);
    border-color: rgb(31, 141, 3);
}
.nav-list {
    color: cornsilk;
    /* font-family: 'Amatic SC'; */
    text-decoration: none;
    justify-content: center;
    flex-grow: 1;
    text-align: center;
}
.nav-list a:hover {
    background-color: cornsilk;
    color: rgb(31, 141, 3);
}