/*TODO: implement style for modal when clicking on day*/
/* The Modal (background) */
.laundry-modal {
  padding-top: 400px;
  display: block; 
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
    background-color: rgba(128, 128, 128, 0.466);

  }
  .laundry-modal-hidden {
    display: none;
  }
    /* Modal Content */
    .laundry-modal-content {
      background-color:whitesmoke;
      margin: auto;
      border: 2px solid rgb(1, 44, 1);
      width: fit-content;
      box-shadow:5px 5px 8px rgba(230, 228, 228), 10px 10px 8px  rgb(206, 205, 205, 0.8);
      animation-name: animatetop;
      animation-duration: 1s;
      animation-timing-function:ease-in-out;
    }
    /* Add Animation */
    @keyframes animatetop {
      0% {bottom: -500px; opacity: 1}
      90% {bottom: 50px; opacity: 1;}
      100% {bottom: 0; opacity: 1}
    }
  /* Modal Header */
  .laundry-modal-header {
    background-color: green;
    border: 1px solid rgb(1, 44, 1);
    color: whitesmoke;
    justify-content: center;
  }
  /* Modal Body */
  .laundry-modal-body {
    display: flex;
    justify-content: center;
    color: black;
  }
  /* Modal Footer */
  .laundry-modal-footer {
    padding: 2px 16px;
    background-color: green;
    border: 1px solid rgb(1, 44, 1);
    color: whitesmoke;
    justify-content: center;
  }
  /* Model button */
  .laundry-modal-button {
    width: fit-content;
    box-shadow: none;
    background-color: rgb(1, 44, 1);
    color: whitesmoke;
    cursor: pointer;
  }
  .laundry-modal-button:hover {
    background-color: whitesmoke;
    color:  rgb(1, 44, 1);
    text-align: center;
  }