/* spinning logo. OBS! rip off React Logo!*/
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
  margin:auto;
}

#root {
  width: 80%;
  margin: auto;
}

button {
  width: auto;
  border: solid 1px black;
  border-radius: 10px;
  box-shadow: none;
  background-color: #282c34;
  color: white;
  padding: 10px ;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
  button:hover {
    background-color: rgb(7, 196, 7);
    color: black;
    text-align: center;
    box-shadow: 0 2px 8px 0 rgb(250, 247, 247), 0 1px 10px 0 rgb(250, 247, 247);
  }
.container {
  margin: auto;
  position:relative;
  max-width: 400px;
}
  .container img {
    width: 100%;
    height: auto;
  }
  .container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color:#282c34;
    color: rgb(7, 196, 7) ;
    font-size: 2em;
    padding: 16px 30px;
    border: none;
    border-radius: 5px;
    text-align: center;
  }
    .container .btn:hover {
      background-color: rgb(7, 196, 7);
      color: #282c34;
    }

#copy {
  font-size: smaller;
  text-align: center;
  background-color:  #282c34;
}
  #copy  span {
    font-size: xx-large;
    font-family: 'Tangerine', cursive;
    color:rgb(51, 255, 0);
    padding: 0px;
  }
  #copy  h1 {
    font-family: 'Tangerine', cursive;
    font-size: 3em;
    color:rgb(51, 255, 0);
  }
  
.userForm {
  margin: auto;
  padding: 10px;
  justify-content: center;
  margin: 2em auto;
  border: cornsilk solid 1px;
  padding: 1em;
}
  .form-group {
    font-size: 1.5em;
    justify-content: center;
    text-align: center;
  }
  input {
    font-size: 1em;
    width: 100%;
    border-radius: 10px;
  }

.mini-container {
  margin: auto;
  /* position:relative; */
  justify-content: center;
  max-width: 180px;
}
nav {
  width: 100%;
}
.navbar-nav {
  flex-grow: 1;
}
.menu-link {
  color: rgb(7, 196, 7);
}
.menu-link:hover {
  color:rgb(51, 255, 0);
}

.intro {
  margin: auto;
  padding-right: 2%;
  float: right;
  font-size: smaller;
}
.home-list {
  list-style: none;
}
.spacer {
 min-height: 500px;
 height: fit-content;
 width: 100%;
}

.user {
  color:  rgb(7, 196, 7);
  margin: auto;
  text-align: center;
  width: 100%;
}

i {
  border-radius: 10%;
  color: rgba(99, 255, 9, 0.959);
  font-size: 1000%;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid rgba(99, 255, 9, 0.959); /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}